<%- include('partials/head') %>

<div class="home-insurance-section">
    <div class="nav-home-insurance">
      <h2>Automobile Insurance</h2>
      <h6>
        <a href="/" style="text-decoration: none; color: white;">
          Home  
        </a>
        <a href="/products" style="text-decoration: none; color: white;">
          > Products  
        </a>
          > Automobile Insurance
      </h6>
      </div>
      <div>
        <div class="home-insurance-container" style="margin-top: 4rem; margin-left: 8rem; margin-right: 1rem;">
            <h1 style="border-bottom: 2px solid rgb(232, 232, 232); padding-bottom: 1rem;">
                Safe travels start with smart coverage
            </h1>
        
            <div style="display: flex; padding-top: 2rem;">
            <p style="width: 76%; font-size: larger;">
                Auto insurance is more than just protection for your vehicle—it's peace of mind for every journey. 
                Our comprehensive policies offer flexible options to fit your unique needs, from coverage for physical damage and personal injury
                 to discounts for safe driving and multi-policy bundling. With tailored protection and optional add-ons, we ensure you’re covered at every turn,
                  so you can drive confidently wherever the road takes you.
              <br>
              <br>
              <br>
               Optional Coverage:
            </p>
              <div style="display: flex; flex-direction: column; gap: 4rem; margin-left: 3rem;">
              <a href="https://www.demotech.com/financial-stability-ratings/" target="_blank">
                <img src="https://www.demotech.com/wp-content/uploads/2022/02/FSR-A.png"
                     alt="Demotech Rating Logo" 
                     class="demotech-logo"
                     style="width: 200px; height: auto; margin-left: 6rem; cursor: pointer;">
              </a>
              <a href="https://web.ambest.com/ratings-services" target="_blank">
              <img src="images/am-best-logo.svg" 
                   alt="AM Best Rating Logo" 
                   class="ambest-logo"
                   style="width: 200px; height: auto; margin-left: 6rem; cursor: pointer;">
              </a>
              </div>
            </div>
            
            <div style="display: flex; justify-content: flex-start;">
                <ul>
                  <li>Uninsured/Underinsured Motorist</li>
                  <li>Personal Injury Protection</li>
                  <li>Physical Damage with optional deductibles</li>
                  <li>Full Glass Coverage</li>
                  <li>Towing</li>
                  <li>Rental Car</li>
                  <li>Good Student Discounts</li>
                  <li>Driver Training Discounts</li>
                  <li>Defensive Driving Discounts</li>
                  <li>Multi-policy Discounts</li>
                  <li>Anti-theft Discounts</li>
                  <li>Optional Deductibles</li>

                </ul>
            
                <img src="https://images.unsplash.com/photo-1473655587843-eda8944061e8?q=80&w=2972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                     alt="Family" 
                     style="margin-left: 10rem; width: 30%; height: 30%; border: 4px solid #9f9f9f;">
              </div>
              <div style="margin-top: 2rem; margin-bottom: 3rem;">
                <p style="font-size: regular; font-style: italic;">
                  We currently offer automobile coverage in the following states: Minnesota
                </p>
              </div>
          </div>
        <div class="agent">
            <div class="get-quote">
            <h3>Get a Quote Today!</h3>
            <p>Find an Agent near you to get a free custom quote.</p>
          </div>
          <a href="/find-agent">
            <button class="find-agent">
                Find an Agent
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
          </a>
        </div>

<%- include('partials/footer') %>
