
<%- include('partials/head') %>
<div class="nav-portal">
    <h2>Find Agent</h2>
    <h6>
        <a href="/" style="text-decoration: none; color: white;">
            Home  
        </a>
        > Find Agent
    </h6>
</div>
<div style="text-align: center; margin: 25px auto;">
    <h2 style="font-size: 1.8rem; color: #333; margin-bottom: 10px;">Where are you looking to find an agent?</h2>
</div>
<ul style="list-style: none; padding: 0; margin: 20px auto; max-width: 800px; display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
    <a href="/minnesota-list" style="text-decoration: none; flex: 1 0 30%;">
        <li style="margin: 10px 0; padding: 10px; border: 1px solid #ddd; border-radius: 8px; transition: transform 0.2s, box-shadow 0.2s; background-color: #f9f9f9; text-align: center; color: #00126b;" 
            onmouseover="this.style.backgroundColor='#ffff'; this.style.transform='scale(1.05)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.1)';"
            onmouseout="this.style.backgroundColor='#f9f9f9'; this.style.transform='scale(1)'; this.style.boxShadow='none';">
            Minnesota
        </li>
    </a>
    <a href="agents-oklahoma" style="text-decoration: none; flex: 1 0 30%;">
        <li style="margin: 10px 0; padding: 10px; border: 1px solid #ddd; border-radius: 8px; transition: transform 0.2s, box-shadow 0.2s; background-color: #f9f9f9; text-align: center; color: #00126b;"
            onmouseover="this.style.backgroundColor='#ffff'; this.style.transform='scale(1.05)'; this.style.boxShadow='0 4px 8px rgba(0, 0, 0, 0.1)';"
            onmouseout="this.style.backgroundColor='#f9f9f9'; this.style.transform='scale(1)'; this.style.boxShadow='none';">
            Oklahoma
        </li>
    </a>
  </ul>
</div>
<%- include('partials/footer') %>