<%- include('partials/head') %>

<div class="nav-faq">
    <h2>Frequently Asked Questions</h2>
    <h6>
        <a href="/" style="text-decoration: none; color: white;">
            Home  
        </a>
         > Frequently Asked Questions
    </h6>
</div>
<div class="faq-container">
    <% 
    const faqs = [
        { question: "What is the difference between Collision and Comprehensive coverage for my automobile?", answer: "Collision: If you're in an automobile accident, regardless of who is at fault, collision insurance provides protection to replace or repair your vehicle, subject to a deductible. Comprehensive: In the event of hail damage or a tree limb falling on your car (risks not involving an automobile collision), this coverage insures you. Comprehensive coverage pays to repair your vehicle, subject to a separate deductible." },
        { question: "What is Bodily Injury Liability?", answer: "Bodily injury liability provides coverage in case you cause an accident in which another person (or people) is hurt. It covers the damages that you’re legally responsible for, and provides a legal defense if someone sues you for damages." },
        { question: "What is Property Damage Liability?", answer: "Property Damage covers you if your car damages someone else’s property. Usually this means damage to someone else’s car, but it could be any property. If you were to accidentally hit someone’s fence, or run into a light post, this coverage would pay to replace it or repair the damage for which you are legally responsible." },
        { question: "What is Personal Injury Protection (PIP)?", answer: "PIP Coverage benefits pay for appropriate and reasonable treatment and expenses necessarily incurred because of an auto accident resulting from the operation or use of a motor vehicle. Basic personal injury protection coverage is mandatory. The law requires a Personal Injury Protection limit of at least $10,000 coverage. PIP benefits are paid regardless of who was at fault in the auto accident. Basic PIP benefits have an aggregate limit of $10,000 per person, per accident." },
        { question: "What is a deductible?", answer: "Your deductible is the portion of any claim payment that you agree to pay for out of pocket. If you file a claim and the insurance company determines that it is a covered loss and intends to pay for the loss, they will take the deductible amount or deductible percentage in your policy and deduct it from the claim payment. For example, if you have a $500 deductible amount and your insurance company has determined that you have an insured loss worth $5,000 you would receive a claim check for $4,500. If you have a deductible percentage, then the company would calculate the deductible amount using this percentage figure and deduct the calculated deductible amount." },
        { question: "What is Uninsured Motorist Coverage?", answer: "Uninsured Motorists coverage pays you, your resident relatives and passengers in the insured automobile for monetary damages resulting from bodily injury or death caused by an uninsured motorist. If you are injured in an accident caused by someone who does not have insurance, you may be entitled to recover damages for bodily injury under the Uninsured Motorist Coverage of your policy." },
        { question: "What is Underinsured Motorist Coverage?", answer: "Underinsured Motorists Coverage provides coverage for persons insured under the policy who are legally entitled to recover damages because of bodily injury from owners or operators of underinsured motor vehicles. Even if the at-fault driver is insured, it is not uncommon that the at-fault driver will not have enough liability coverage to pay for all the damages you have suffered. Underinsured Motorists Coverage may pay for the remainder of your damages (up to your policy limits)." },
        { question: "What does a homeowner insurance policy cover?", answer: "Generally, Homeowner insurance covers damage from incidents such as fire, theft, and vandalism to your house, other structures like a garage or shed, and your personal belongings. It covers living expenses if your house becomes temporarily unusable, and liability in case you or a member of your household injures someone or damages their property." },
        { question: "Do I have an adequate amount of dwelling coverage on my policy?", answer: "Since the replacement cost of your house can be affected by inflation, costs of labor and building materials, and any renovations you may make to your home, you should always review your coverage periodically with your agent." },
        { question: "How can I get a quote for an GNIC policy?", answer: "Independent agents located throughout your state are ready to provide you a quote for a GNIC policy. These agents are in your communities and neighborhoods and understand what your insurance needs are. Review our list of Independent Agents to get the protection you need and the service you deserve." },
    ];

    faqs.forEach(faq => { %>
        <div class="faq-item">
            <h2 class="faq-question"><%= faq.question %></h2>
            <p class="faq-answer"><%= faq.answer %></p>
        </div>
    <% }); %>
    </div> 
    <script src="/js/frequently-asked-questions.js"></script>


<%- include('partials/footer') %>

